[submodule "nsbl/external/ansible-role-template"]
	path = nsbl/external/ansible-role-template
	url = git@github.com:makkus/ansible-role-template
[submodule "nsbl/external/cookiecutter-ansible-environment"]
	path = nsbl/external/cookiecutter-ansible-environment
	url = git@github.com:makkus/cookiecutter-ansible-environment
